/* *{
    background-color: aquamarine;
} */
body{
    /* display: flex;
    justify-content: center; */
    background: #F5EFE7;
}
.mainimg{
    display: flex;
    justify-content: center;
    height: 300px;
}
.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
}
